* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url("../src/fundo.png") repeat-x;
}

/*Estilização do topo*/
#container {
    width: 60%;
    margin: 0 auto;
}

#top {
    height: 150px;
    background: url("../src/detalhe-topo.png") no-repeat right top;
    padding-top: 35px;
}

.logo {
    width: 152px;
    height: 66px;
    display: block;
}

/*Barra de navegação do topo*/
#navegacao-top {
    list-style: none;
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}

#navegacao-top li {
    float: left;
}

#navegacao-top a {
    display: block;
    padding: 0.5em 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: url("../src/divisor.png") no-repeat left;
}

/*Removendo o divisor do primeiro item da navegação do topo*/
#navegacao-top #primeiro {
    background: none;
}

/*Estado hover dos links da barra de navegação superior*/
#navegacao-top a:hover {
    color: #69001d;
    background-color: #de003e;
}

/*Marcar a aba referente a página que está sendo visitada*/
body#home #navegacao-top a.home,
body#brasil #navegacao-top a.brasil,
body#internacional #navegacao-top a.internacional,
body#economia #navegacao-top a.economia,
body#saude #navegacao-top a.saude,
body#esportes #navegacao-top a.esportes,
body#ciencia #navegacao-top a.ciencia,
body#fotos #navegacao-top a.fotos {
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

/*Configuração layout 3 colunas*/
#conteudo {
    background-color: #f5f5f5;
    margin-top: 60px;
}

#conteudo #lateral {
    width: 24%;
    float: left;
    margin-right: 2%;
}

/*Conteúdo principal quando o site tiver três colunas*/
body.tres-colunas #conteudo #primario {
    width: 34%;
    float: left;
    margin-right: 2%;
}

/*Conteúdo principal quando o site tiver duas colunas*/
body.duas-colunas #conteudo #primario {
    width: 66%;
    float: left;
}

/*Conteúdo principal quando o site tiver apenas uma coluna*/
body.uma-coluna #conteudo #primario {
    width: 100%;
}

#conteudo #secundario {
    width: 34%;
    float: left;
}

.caixa {
    background: #f3f3f3 url("../src/fundo-caixa.png");
    margin: 10px 0;
    padding: 5px;
}

.caixa h2 {
    font-size: 1.2em;
    color: #fff;
    background-color: #294c71;
    padding: 5px;
}

.caixa-conteudo {
    background-color: #fff;
    margin-top: 5px;
    padding: 5px;
}

.caixa-conteudo ul li, .caixa-conteudo ul li a {
    list-style: none;
    text-decoration: none;
    padding: 13px 0;
    font-weight: bold;
}

.caixa-conteudo ul li:hover {
    display: block;
    color: #a1a1a1;
    padding-left: 20px;
    background: #f5f5f5 url("../src/marcador.png") no-repeat left center;
}

.caixa-conteudo h3 {
    background-color: #b10333;
    color: #fff;
    display: inline;
    padding: 3px;
}

.caixa-conteudo img {
    width: 100%;
    border: 2px solid #dfdfdf;
    margin-top: 5px;
}

.caixinha-noticia h4 {
    padding: 5px;
    text-align: right;
    text-transform: uppercase;
}

.caixinha-noticia img {
    float: left;
    width: 25%;

}

label {
    display: block;
    cursor: pointer;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 5px;
}

#input-button {
    width: 30%;
}

/*Formatando Listas de notícias*/
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

body.duas-colunas #lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 130px;
}

body.uma-coluna #lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 190px;
}

#lista-noticias img {
    width: 23%;
    float: left;
    
}

#lista-noticias h4 {
    text-transform: uppercase;
    font-size: 0.8em;
    color: black;
    margin: 5px 0 5px 100px;
}

#lista-noticias p {
    font-size: 0.8em;
    margin-left: 95px;
}
/*Fim das listas de notícias*/

/*Rodapé*/
#container-rodape {
    background-color: #294c71;
    padding: 30px;
    margin-top: 100px;
}

#rodape {
    text-align: center;
    color: #fff;
}